/** @format */
.weather-info {
	position: relative;
	margin: 3vh;
	width: 30%;
	transition: 0.8s 0.5s;
}

.ForecastTiles {
	display: flex;
	justify-content: space-around;
	padding: 20px;
	margin: 0 5px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.2);
}
.PrimaryInfo {
	/* display: block;
	height: 50px;
	width: 50px;
	margin: 0 auto; */
}

.icon {
	font-size: 20px;
}

@media only screen and (max-width: 600px) {
	.ForecastTiles {
	}
	.weather-info {
		margin: 0.5vh;
	}
}
