/** @format */

.SearchBar {
	position: relative;
	margin: 0 auto;
	max-width: 500px;
	transition: 0.8s 0.5s;
}
.SearchInput {
	width: 100%;
	border: none;
	background-color: whitesmoke;
	font-size: 20px;
	padding: 10px 8px 10px 9px;
	color: black;
	transition: 0.2s;
	border-radius: 5px;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.SearchIcon {
	display: block;
	position: absolute;
	top: 38%;
	right: 22px;
	transform: translate(-50%, -50%);
	height: 14px;
	width: 9px;
	font-size: 18px;
	color: black;
}

@media only screen and (min-width: 300px) {
	.SearchIcon {
		height: 9px;
		width: 0px;
		margin-right: -12px;

		font-size: 9px;
	}
	.SearchBar {
		max-width: 250px;
	}
}

@media only screen and (min-width: 768px) {
	.SearchIcon {
		height: 15px;
		top: 18px;
		width: 0px;
		font-size: 15px;
	}
	.SearchInput {
		max-width: 100%;
		font-size: 18px;
	}
}
@media only screen and (min-width: 1024px) {
	.SearchIcon {
		height: 16px;
		width: 16px;
		font-size: 20px;
		right: 30px;
		top: 20px;
	}
	.SearchInput {
		padding: 15px 20px 15px 45px;
		border-radius: 5x;
	}
	.SearchBar {
		max-width: 700px;
	}
}
@media only screen and (min-width: 1440px) {
	.SearchBar {
		max-width: 700px;
	}
}
