/** @format */

.App {
	text-align: center;
}

.AppTitle {
	display: block;
	float: left;
	height: 64px;
	margin: 0;
	padding: 20px 0;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 400;
	color: grey;
	transition: 0.3s 1.4s;
}
.weatherWrapper {
	display: flex;
	flex-direction: column;

	max-width: 1500px;
	margin: 0 auto;
	height: calc(100vh - 64px);
	width: 100%;
	position: relative;
}
